<!-- templates/cryptoapp/portfolio.html -->

{% extends "cryptoapp/base_logged_in.html" %}

{% block title %}Order History - CryptoApp{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-3">Payment History</h1>
        {% if transactions %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Coin</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Type</th>
                        <th scope="col">Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><span class="link-style" onclick="location.href='{% url 'cryptoapp:coin_details' transaction.coin.id %}'">{{ transaction.coin.name }}</span></td>
                            <td>{{ transaction.quantity }}</td>
                            <td>${{ transaction.amount|floatformat:2 }}</td>
                            <td>{{ transaction.transaction_type }}</td>
                            <td>{{ transaction.timestamp }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No transactions to show.</p>
        {% endif %}
    </div>
{% endblock %}
