<!-- templates/cryptoapp/portfolio.html -->

{% extends "cryptoapp/base_logged_in.html" %}

{% block title %}Portfolio - CryptoApp{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-3">Portfolio</h1>
        {% if buy_transactions %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Coin</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in buy_transactions %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ transaction.coin.name }}</td>
                            <td>{{ transaction.quantity }}</td>
                            <td>${{ transaction.amount|floatformat:2 }}</td>
                            <td>{{ transaction.timestamp }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p>Total Portfolio Balance: ${{ total_balance|floatformat:2 }}</p>
            <p>Current Balance: ${{ user_profile.balance|floatformat:2 }}</p>

            <!-- Add Balance Form -->
            <form method="post" class="mt-4">
                {% csrf_token %}
                {{ add_balance_form.as_p }}
                <button type="submit" class="btn btn-primary">Add Balance</button>
            </form>
        {% else %}
            <p>No transactions found in your portfolio.</p>
            <p>Current Balance: ${{ user_profile.balance|floatformat:2 }}</p>

            <!-- Add Balance Form -->
            <form method="post" class="mt-4">
                {% csrf_token %}
                {{ add_balance_form.as_p }}
                <button type="submit" class="btn btn-primary">Add Balance</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
