{% extends "cryptoapp/base_logged_in.html" %}

{% block title %}Watchlist - CryptoApp{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-3">Watchlist</h1>

        {% if watchlist_coins %}
            <div class="table-responsive">
                <table class="table table-lg table-hover">
                <thead class="thead-dark">
                        <tr>
                            <th class="w-25">Name</th>
                            <th class="w-15">Symbol</th>
                            <th>Current Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for coin in watchlist_coins %}
                            <tr>
                                <td class="w-25"><span class="link-style" onclick="location.href='{% url 'cryptoapp:coin_details' coin.id %}'">{{ coin.name }}</span></td>
                                <td class="w-15"><span class="link-style" onclick="location.href='{% url 'cryptoapp:coin_details' coin.id %}'">{{ coin.symbol }}</span></td>
                                <td>${{ coin.current_price|floatformat:2 }}</td>
                                <!-- Add more columns if needed -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Your watchlist is empty.</p>
        {% endif %}
    </div>
{% endblock %}
