{% extends "cryptoapp/base_logged_in.html" %}

{% block title %}Watchlist - CryptoApp{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-3">Watchlist</h1>

        {% if watchlist_coins %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Current Price</th>
                        <!-- Add more columns if needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for coin in watchlist_coins %}
                        <tr>
                            <td>{{ coin.name }}</td>
                            <td>{{ coin.symbol }}</td>
                            <td>${{ coin.current_price|floatformat:2 }}</td>
                            <!-- Add more columns if needed -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Your watchlist is empty.</p>
        {% endif %}
    </div>
{% endblock %}
