{% extends 'cryptoapp/base.html' %}
{% load crispy_forms_filters %} {% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block style %}
    <style>
        body {
            background-color: lightcyan;
        }
        .row {
            margin: 10% 32%;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="shadow p-5 mb-5 bg-white rounded">
                <form method="post">
                  {% csrf_token %}{{form|crispy}}
                  <p>Don't have an account? Create one <a href="/sign-up">Here</a>!</p>
                  <button type="submit" class="btn btn-success">Login</button>
                    <small class="text-muted ml-2">
                        <a href="{% url 'cryptoapp:reset_password' %}">Forgot Password?</a>
                    </small>
                </form>
            </div>
        </div>
    </div>
{% endblock %}